<div class="container">
    <h2>{{categoryName}}</h2>

    <table class="table" ng-Show="books">
        <thead class="thead-inverse">
        <th>Name</th>
        <th>Author</th>
        <th>Edit</th>
        </thead>
        <tbody>
            <tr ng-repeat="book in books">
                <td><a ng-href="/Book/{{book.Id}}">{{book.Name}}</a></td>
                <td>{{book.Author}}</td>
                <td>Edit</td>
            </tr>
        </tbody>
    </table>
    <p ng-hide="books.length">No books in this category</p>
</div>