<div class="container">
    <form name="newBookForm">
        <h2>{{book.Name}}</h2>
        <div class="form-group row">
            <label for="bookName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="bookName" placeholder="Name" ng-Model="book.Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="author" class="col-sm-2 col-form-label">Author</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="author" placeholder="Author" ng-Model="book.Author">
            </div>
        </div>
        <button type="submit" ng-disabled="newBookForm.$invalid" ng-click="save(book, newBookForm)" class="btn btn-primary pull-right">Save</button>
        <button type="button" ng-show="isEdition" ng-click="delete()" class="btn btn-danger pull-right" style="margin-right: 15px;">Delete</button>
        
    </form>
    <a ng-href="{{'/Category/' + book.CategoryId}}" class="btn btn-default"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Back</a>
    
    <!--<div id="confirm" class="modal hide fade">
        <div class="modal-body">
            Are you sure?
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Delete</button>
            <button type="button" data-dismiss="modal" class="btn">Cancel</button>
        </div>
    </div>-->
</div>

